aclocal.m4
AUTHORS
autogen_fresh.dat
#autogen_fresh.sh*###############
autogen.sh
autom4te.cache/
bin/
build/
ChangeLog
#config/##################################
config.guess
config.h
config.h.in
config.log
config.status*
config.sub
configure
configure.ac
COPYING
demo_drivers/
depcomp
doc/
external_distributions/*
!external_distributions/trilinos/
external_distributions/trilinos/*
!external_distributions/trilinos/trilinos-11.0.3-Source.tar.gz
external_src/
*.swp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
#Makefile.am###########################
Makefile.in
missing
NEWS
old_symbolic_links.txt
oomph-lib-config.h
README
self_test/
#src/###############################################
stamp-h1
.svn/
#user_drivers/#############################
#user_src/#######################################
validate.sh
validation.log
